# Build Folders
bin/
obj/

# NuGet Packages
packages/

# Configuration Files
appsettings.Development.json
appsettings.*.json

# Visual Studio Temporary Files
.vs/

# Test Results
TestResults/

# Other temporary files
*.tmp
*.log

# User-specific files
*.suo
*.user
*.sln.ide